In [14]:
import pandas as pd
import numpy as np
import re
from indo_normalizer import Normalizer

In [3]:
df = pd.read_csv(r"data_klien_1\Doctor QnA Indonesia.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   question  633 non-null    object
 1   answer    633 non-null    object
dtypes: object(2)
memory usage: 10.0+ KB

In [5]:
df.head()

,question,answer
0,"Halo dok, saya remaja 15 tahun. Saya sedang ha...",Menstruasi sewajarnya akan berlangsung selama ...
1,"Putra saya usia 15 th, testis kirinya sakit do...","Alo,Nyeri pada testis dapat disebabkan karena ..."
2,Dok saya kalau kena gorengan yang bukan masaka...,"Alo, selamat siangtenggorokan gatal dapat dise..."
3,"Saya berhari-hari susah BAB dok, dan saya nged...","Benjolan di anus yang terasa nyeri, menyerupai..."
4,"Ãƒâ€šÃ‚Â Hai dok, anak saya berusia2 bulan. se...",Ubun-ubun bayi yang cembung sehabis melahirkan...

In [17]:
df_cleaned = df.copy()

def clean_text(text):
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)  # Remove URLs
    text = re.sub(r'\@\w+|\#','', text)  # Remove mentions and hashtags
    text = re.sub(r'[^A-Za-z0-9\s.,]+', '', text)  # Remove special characters
    text = text.lower()  # Convert to lowercase
    text = text.strip()  # Remove leading/trailing whitespace
    return text
df_cleaned['question'] = df_cleaned['question'].apply(clean_text)
df_cleaned['answer'] = df_cleaned['answer'].apply(clean_text)

In [18]:
df_cleaned.head()

,question,answer
0,"halo dok, saya remaja 15 tahun. saya sedang ha...",menstruasi sewajarnya akan berlangsung selama ...
1,"putra saya usia 15 th, testis kirinya sakit do...","alo,nyeri pada testis dapat disebabkan karena ..."
2,dok saya kalau kena gorengan yang bukan masaka...,"alo, selamat siangtenggorokan gatal dapat dise..."
3,"saya berharihari susah bab dok, dan saya ngede...","benjolan di anus yang terasa nyeri, menyerupai..."
4,"hai dok, anak saya berusia2 bulan. sejak lahir...",ubunubun bayi yang cembung sehabis melahirkan ...

In [19]:
save_path = r"data_klien_1\Doctor_QnA_Indonesia_Cleaned.csv"
df_cleaned.to_csv(save_path, index=False)